<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spcss@0.5.0">
<style>pre{white-space:wrap}body{margin-bottom:10px}</style>
<title>API Key</title>

<h1>API Key</h1>

<pre>
  <strong>Key: </strong>{{ key.key }}
  <strong>Authorized IP: </strong>{{ key.ip }}
  <strong>Created: </strong> {{ key.issued_at | dt }}
  <strong>Expires in: </strong>{{ key.expires_in }}
  <strong>Expired? </strong>{{ key.is_expired() }}
  {% if not key.is_expired() %}
  <a href="{{ url_for('dna_api.revoke_key', key=key.key) }}">Revoke Key</a>{% endif %}
</pre>
<br />

<a href="{{ url_for('dna_api.keys_index') }}">Active API Keys</a>
<br />